/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/* me */

nav a {
	color: inherit;
	text-decoration: inherit;
    font-weight: 600;
}

#Blogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 300px;
}

#Blogin h2 {
    margin: 100px 0 50px 0;
}

#Blogin form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#Blogin form input {
    margin: 10px 0 30px 0;
    height: 51px;
    width: 379px;
    box-shadow: 0px 4px 14px 0px #00000017;
    border: 0;
    font-family: 'Work Sans';
    font-size: 20px;
    font-weight: 500;
    display: flex;
    text-align: center;
}

#Blogin form label {
    font-family: 'Work Sans';
    font-size: 14px;
    font-weight: 600;
    color: #3D3D3D;
}

#Blogin form button {
    width: 179px;
    height: 36px;
    border-radius: 60px;
    background-color: #1D6154;
    border: 0;
    align-self: center;
    font-family: 'Syne';
    color: white;
    font-size: 14px;
    font-weight: 700;
    margin: 10px 0 30px 0;
}

#Blogin form button:hover {
    cursor: pointer;
    background-color: #0E2F28;
}

#Blogin a p {
    font-family: 'Work Sans';
    font-size: 14px;
    font-weight: 600;
    color: #3D3D3D;
}

#Blogin a {
    color: #3D3D3D;
}

.Emsg {
    color: red;
    margin-bottom: 30px;
}

/* end of me */